repos:
-   repo: local
    hooks:
    -   id: rust-linting
        name: Rust formatting
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: cargo fmt --all --
        pass_filenames: true
        types: [file, rust]
        language: system
    -   id: rust-clippy
        name: Rust clippy
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: cargo clippy --all-targets --all-features -- -Dclippy::all
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-cargo-check
        name: Rust cargo check
        description: Run cargo check on files included in the commit. cargo check should be installed before-hand.
        entry: cargo check --all-targets --all-features
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: clang-format
        name: clang-format
        description: Run clang-format on C/C++ files included in the commit. clang-format should be installed before-hand.
        entry: clang-format -i
        pass_filenames: true
        types_or: [c, c++]
        language: system

