name: PEP-249 CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  pep249_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y unixodbc-dev
          python -m pip install --upgrade pip
          pip install pytest

      - name: Decode secrets
        run: ./scripts/decode_secrets.sh
        env:
          PARAMETERS_SECRET: ${{ secrets.PARAMETERS_SECRET }}

      - name: Build Rust core library
        run: cargo build --package sf_core

      - name: Run PEP-249 tests
        run: |
          ls -l target/debug/
          export CORE_PATH=$(pwd)/target/debug/libsf_core.so
          export PARAMETER_PATH=$(pwd)/parameters.json
          cd pep249_dbapi
          pip install -e .
          pytest tests/ -v